In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from zwad.ad.preprocess import *
from zwad.ad.postprocess import *

from sklearn.cluster import Birch, KMeans, DBSCAN, SpectralClustering
from sklearn.mixture import GaussianMixture
from sklearn.preprocessing import StandardScaler

In [3]:
datadir = os.path.join('..', 'data')

oid, feature = load_dataset(os.path.join(datadir, 'oid_m31.dat'), os.path.join(datadir, 'feature_m31.dat'))
# Optionally with feature names:
# oid, feature = load_dataset(os.path.join(datadir, 'oid_m31.dat'), os.path.join(datadir, 'feature_m31.dat'), os.path.join(datadir, 'feature_m31.name'))
anomalies_gmm = load_ad_table(os.path.join(datadir, 'm31_gmm.csv'))

anomaly_oid = anomalies_gmm['oid']
anomaly_feature = extract_anomaly_features(anomaly_oid, oid, feature)

In [4]:
anomaly_feature

array([[2.3800001e+00, 2.9370630e-01, 4.8951048e-02, ..., 1.0970883e+00,
        8.7504232e-01, 1.6457632e+01],
       [2.0444999e+00, 3.5802469e-01, 6.1728396e-03, ..., 1.0822589e+00,
        9.0305829e-01, 1.6626255e+01],
       [8.0999947e-01, 3.9370079e-03, 3.9370079e-03, ..., 9.9654287e-02,
        3.1402901e-01, 1.6848158e+01],
       ...,
       [2.0720000e+00, 2.2222222e-01, 4.2735044e-02, ..., 6.2597132e-01,
        7.3348981e-01, 1.6854887e+01],
       [3.2999992e-01, 6.1224490e-02, 8.1632650e-03, ..., 4.4723526e-02,
        5.1094729e-01, 1.6834017e+01],
       [1.3650036e-01, 3.5826772e-01, 3.9370079e-03, ..., 7.0678927e-02,
        8.8457823e-01, 1.5309025e+01]], dtype=float32)

In [5]:
expert_table = load_expert_table(os.path.join(datadir, 'm31_maria.csv')).reset_index(drop=True)
expert_table

,oid,tag,tag_detailed,comments,alerts
0,695211400034403,artefact,bright star,bright star,NaN
1,695211400124577,artefact,bright star,bright star,NaN
2,695211400102351,artefact,bright star,bright star,NaN
3,695211400053697,artefact,bright star,bright star,NaN
4,695211200075348,transient,red star,"MASTER transient, red star; has spectra but st...",NaN
5,695211400000352,artefact,bright star,bright star,NaN
6,695211400088968,artefact,NaN,empty field fits,NaN
7,695211400117334,artefact,bright star,bright star,NaN
8,695211400028274,artefact,bright star,bright star,NaN
9,695211400133827,artefact,NaN,empty field fits,NaN
10,695211400053352,Cl*,NaN,"Part of the Cl*, does not explain variability ...",NaN
11,695211400048384,HII region,NaN,HII (ionized) region,NaN
12,695211100022045,transient; PNV,NaN,AT 2017ixs; Atel11755; seen in 2017-10-29,NaN
13,695211200009221,artefact,bad column,bad column,NaN
14,695211200020939,artefact,bad column,bad column,NaN
15,695211100002984,artefact,plane/flying body,plane/flying body,NaN
16,695211200058391,uncat,red star,Variable; red star; in Gaia list,NaN
17,695211400132963,artefact,M31 center,M31 center,NaN
18,695211400121607,Var,NaN,[JPN2003] V206,NaN
19,695211400130264,artefact,M31 center,M31 center,NaN
20,695211200035023,uncat,red star,Variable; red star; IrS; in Gaia list,NaN
21,695211400009049,uncat,red star,Variable; red star; in Gaia list,NaN
22,695211400134262,artefact,M31 center,M31 center,NaN
23,695211400070144,Var,NaN,NaN,NaN
24,695211100003383,RSG,NaN,NaN,NaN
25,695211400134258,artefact,M31 center,M31 center,NaN
26,695211400134417,artefact,M31 center,M31 center,NaN
27,695211300004359,Nova,NaN,Atel7462 - burst in 2015,NaN
28,695211400134778,artefact,M31 center,M31 center,NaN
29,695211400134621,artefact,M31 center,M31 center,NaN
...,...,...,...,...,...
71,695211200000865,uncat,1-point transient,1-point transient (1 mag brighter). Periodicit...,NaN
72,695211100008614,artefact,plane/flying body,plane/flying body,NaN
73,695211100011888,artefact,plane/flying body,plane/flying body,NaN
74,695211100003209,artefact,plane/flying body,plane/flying body,NaN
75,695211100002099,artefact,plane/flying body,plane/flying body,NaN
76,695211300006331,EB,NaN,CRTS J003827.1+410334,NaN
77,695211400018326,uncat,1-point transient,1-point transient (1 mag brighter). Periodicit...,STRANGE ARTEFACT NEARBY
78,695211100020857,artefact,plane/flying body,plane/flying body,NaN
79,695211100025106,artefact,plane/flying body,plane/flying body,NaN
80,695211100021872,artefact,plane/flying body,plane/flying body,NaN
81,695211300006502,Star,NaN,NaN,NaN
82,695211200082131,uncat,1-point transient,1-point transient (2.5 mag brighter). I checke...,NaN
83,695211100018408,artefact,plane/flying body,plane/flying body,NaN
84,695211100131796,LBV?,NaN,"Has interesting variability. HII region, PSO J...",NaN
85,695211100131134,artefact,plane/flying body,"STILL LOOKS UNKNOWN VARIABLE, plane/flying body",NaN
86,695211200077906,uncat,binary,EB? Red and blue stars,NaN
87,695211100080479,artefact,plane/flying body,plane/flying body,NaN
88,695211100004663,artefact,plane/flying body,plane/flying body,NaN
89,695211400010060,uncat,1-point transient,1-point transient (2 mag brighter). Red star. ...,NaN
90,695211400088066,artefact,NaN,empty field fits; near M31 center,NaN
91,695211400134229,artefact,NaN,empty field fits; near M31 center,NaN
92,695211400025927,uncat,red star,red star,NaN
93,695211200057718,uncat,NaN,EB?,NaN
94,695211400008325,artefact,NaN,"fast peaks, artefact? We see something on the ...",NaN
95,695211200013613,artefact,bad column,bad column,NaN
96,695211300007276,Cepheid,NaN,NaN,NaN
97,695211400066438,artefact,spaceship,spaceship,NaN
98,695211100015190,uncat,red star,Variable; red star,NaN
99,695211200050499,artefact,bad column,bad column,NaN
100,695211200059173,uncat,binary,"two blue stars, companion is known. Check better",NaN

In [6]:
#scaler = StandardScaler()

### Birch

In [7]:
birch = Birch(n_clusters=4,
              threshold=0.5, 
              branching_factor=50)

clustering_birch = birch.fit_predict(scale_values(anomaly_feature))

In [8]:
table_birch = pd.DataFrame({'oid': anomaly_oid, 'cluster': clustering_birch}).merge(expert_table[['oid', 'tag', 'tag_detailed']])
table_birch = table_birch.sort_values(by='cluster', kind='mergesort')
table_birch

                oid  cluster         tag       tag_detailed
10  695211200075348        0   transient           red star
30  695211400009049        0       uncat           red star
36  695211200058391        0       uncat           red star
2   695211200009221        1    artefact         bad column
6   695211200020939        1    artefact         bad column
7   695211200008801        1    artefact         bad column
8   695211200015230        1    artefact         bad column
13  695211200008024        1    artefact         bad column
14  695211200009296        1    artefact         bad column
15  695211200009492        1    artefact         bad column
16  695211200032218        1    artefact         bad column
17  695211200013685        1    artefact         bad column
19  695211200020898        1    artefact         bad column
20  695211200054816        1    artefact         bad column
21  695211200042829        1    artefact         bad column
22  695211200007026        1    artefact         bad column
23  695211200077003        1    artefact         bad column
25  695211200021087        1    artefact         bad column
29  695211100002984        1    artefact  plane/flying body
33  695211200023594        1    artefact         bad column
34  695211200015592        1    artefact         bad column
35  695211200010890        1    artefact         bad column
38  695211200018443        1    artefact         bad column
0   695211400034403        2    artefact        bright star
1   695211400124577        2    artefact        bright star
3   695211400000352        2    artefact        bright star
4   695211400102351        2    artefact        bright star
5   695211400053697        2    artefact        bright star
9   695211400028274        2    artefact        bright star
11  695211400133827        2    artefact                NaN
12  695211400088968        2    artefact                NaN
18  695211400117334        2    artefact        bright star
24  695211400053352        2         Cl*                NaN
31  695211400134715        2    artefact         M31 center
32  695211400048384        2  HII region                NaN
37  695211400134621        2    artefact         M31 center
26  695211200046528        3     Cepheid                NaN
27  695211200018901        3         RSG                NaN
28  695211200022958        3       uncat             single
39  695211200019653        3       uncat             single

In [9]:
birch_summary = table_birch.groupby(["cluster", "tag"]).size()
birch_summary

cluster  tag
0        transient      1
         uncat          2
1        artefact      20
2        Cl*            1
         HII region     1
         artefact      11
3        Cepheid        1
         RSG            1
         uncat          2
dtype: int64

### Kmeans

In [10]:
kmeans = KMeans(n_clusters=5, 
            init='k-means++', #selects initial cluster centers intelligently
            max_iter=300, #max number of iterations of single run
            n_init=50, #number of times to be run w/ different centriod seeding
            random_state=42)

clustering_kmeans = kmeans.fit_predict(scale_values(anomaly_feature))

In [11]:
table_kmeans = pd.DataFrame({'oid': anomaly_oid, 'cluster': clustering_kmeans}).merge(expert_table[['oid', 'tag', 'tag_detailed']])
table_kmeans = table_kmeans.sort_values(by='cluster', kind='mergesort')

In [12]:
table_kmeans

                oid  cluster         tag       tag_detailed
10  695211200075348        0   transient           red star
30  695211400009049        0       uncat           red star
2   695211200009221        1    artefact         bad column
6   695211200020939        1    artefact         bad column
7   695211200008801        1    artefact         bad column
8   695211200015230        1    artefact         bad column
13  695211200008024        1    artefact         bad column
14  695211200009296        1    artefact         bad column
15  695211200009492        1    artefact         bad column
16  695211200032218        1    artefact         bad column
17  695211200013685        1    artefact         bad column
19  695211200020898        1    artefact         bad column
20  695211200054816        1    artefact         bad column
21  695211200042829        1    artefact         bad column
22  695211200007026        1    artefact         bad column
23  695211200077003        1    artefact         bad column
25  695211200021087        1    artefact         bad column
29  695211100002984        1    artefact  plane/flying body
33  695211200023594        1    artefact         bad column
34  695211200015592        1    artefact         bad column
35  695211200010890        1    artefact         bad column
38  695211200018443        1    artefact         bad column
0   695211400034403        2    artefact        bright star
1   695211400124577        2    artefact        bright star
3   695211400000352        2    artefact        bright star
4   695211400102351        2    artefact        bright star
5   695211400053697        2    artefact        bright star
9   695211400028274        2    artefact        bright star
11  695211400133827        2    artefact                NaN
12  695211400088968        2    artefact                NaN
18  695211400117334        2    artefact        bright star
24  695211400053352        2         Cl*                NaN
31  695211400134715        2    artefact         M31 center
32  695211400048384        2  HII region                NaN
37  695211400134621        2    artefact         M31 center
36  695211200058391        3       uncat           red star
26  695211200046528        4     Cepheid                NaN
27  695211200018901        4         RSG                NaN
28  695211200022958        4       uncat             single
39  695211200019653        4       uncat             single

In [13]:
kmeans_summary = table_kmeans.groupby(["cluster", "tag"]).size()
kmeans_summary

cluster  tag
0        transient      1
         uncat          1
1        artefact      20
2        Cl*            1
         HII region     1
         artefact      11
3        uncat          1
4        Cepheid        1
         RSG            1
         uncat          2
dtype: int64

## DBSCAN

In [14]:
dbscan = DBSCAN(eps=8, #max distance for which two particles can be considered in the "same neighborhood"
                min_samples=1) #Number of SPH particles needed in neighborhood for datum to be considered "core point"

clustering_dbscan = dbscan.fit_predict(scale_values(anomaly_feature))

In [15]:
table_dbscan = pd.DataFrame({'oid': anomaly_oid, 'cluster': clustering_dbscan}).merge(expert_table[['oid', 'tag', 'tag_detailed']])
table_dbscan = table_dbscan.sort_values(by='cluster', kind='mergesort')
table_dbscan

                oid  cluster         tag       tag_detailed
0   695211400034403        0    artefact        bright star
1   695211400124577        0    artefact        bright star
2   695211200009221        0    artefact         bad column
3   695211400000352        0    artefact        bright star
4   695211400102351        0    artefact        bright star
5   695211400053697        0    artefact        bright star
6   695211200020939        0    artefact         bad column
7   695211200008801        0    artefact         bad column
8   695211200015230        0    artefact         bad column
9   695211400028274        0    artefact        bright star
11  695211400133827        0    artefact                NaN
12  695211400088968        0    artefact                NaN
13  695211200008024        0    artefact         bad column
14  695211200009296        0    artefact         bad column
15  695211200009492        0    artefact         bad column
16  695211200032218        0    artefact         bad column
17  695211200013685        0    artefact         bad column
18  695211400117334        0    artefact        bright star
19  695211200020898        0    artefact         bad column
20  695211200054816        0    artefact         bad column
21  695211200042829        0    artefact         bad column
22  695211200007026        0    artefact         bad column
23  695211200077003        0    artefact         bad column
24  695211400053352        0         Cl*                NaN
25  695211200021087        0    artefact         bad column
29  695211100002984        0    artefact  plane/flying body
31  695211400134715        0    artefact         M31 center
32  695211400048384        0  HII region                NaN
33  695211200023594        0    artefact         bad column
34  695211200015592        0    artefact         bad column
35  695211200010890        0    artefact         bad column
37  695211400134621        0    artefact         M31 center
38  695211200018443        0    artefact         bad column
10  695211200075348        1   transient           red star
30  695211400009049        1       uncat           red star
26  695211200046528        2     Cepheid                NaN
27  695211200018901        2         RSG                NaN
28  695211200022958        2       uncat             single
39  695211200019653        2       uncat             single
36  695211200058391        3       uncat           red star

In [16]:
dbscan_summary = table_dbscan.groupby(["cluster", "tag"]).size()
dbscan_summary

cluster  tag
0        Cl*            1
         HII region     1
         artefact      31
1        transient      1
         uncat          1
2        Cepheid        1
         RSG            1
         uncat          2
3        uncat          1
dtype: int64

## GMM

In [17]:
gmm = GaussianMixture(n_components=8, #specify 5 clusters
                      covariance_type='full', #specify covariance matrix for components
                      max_iter=200, #max number of iterations of single run
                      init_params='kmeans', #initialize weights with kmeans
                      random_state=42) #Use a new random number generator seeded by 42

clustering_gmm = gmm.fit_predict(scale_values(anomaly_feature))

In [18]:
table_gmm = pd.DataFrame({'oid': anomaly_oid, 'cluster': clustering_gmm}).merge(expert_table[['oid', 'tag', 'tag_detailed']])
table_gmm = table_gmm.sort_values(by='cluster', kind='mergesort')
table_gmm

                oid  cluster         tag       tag_detailed
26  695211200046528        0     Cepheid                NaN
27  695211200018901        0         RSG                NaN
2   695211200009221        1    artefact         bad column
6   695211200020939        1    artefact         bad column
7   695211200008801        1    artefact         bad column
13  695211200008024        1    artefact         bad column
15  695211200009492        1    artefact         bad column
16  695211200032218        1    artefact         bad column
19  695211200020898        1    artefact         bad column
10  695211200075348        2   transient           red star
30  695211400009049        2       uncat           red star
0   695211400034403        3    artefact        bright star
1   695211400124577        3    artefact        bright star
3   695211400000352        3    artefact        bright star
4   695211400102351        3    artefact        bright star
5   695211400053697        3    artefact        bright star
9   695211400028274        3    artefact        bright star
18  695211400117334        3    artefact        bright star
31  695211400134715        3    artefact         M31 center
37  695211400134621        3    artefact         M31 center
36  695211200058391        4       uncat           red star
11  695211400133827        5    artefact                NaN
12  695211400088968        5    artefact                NaN
24  695211400053352        5         Cl*                NaN
32  695211400048384        5  HII region                NaN
28  695211200022958        6       uncat             single
39  695211200019653        6       uncat             single
8   695211200015230        7    artefact         bad column
14  695211200009296        7    artefact         bad column
17  695211200013685        7    artefact         bad column
20  695211200054816        7    artefact         bad column
21  695211200042829        7    artefact         bad column
22  695211200007026        7    artefact         bad column
23  695211200077003        7    artefact         bad column
25  695211200021087        7    artefact         bad column
29  695211100002984        7    artefact  plane/flying body
33  695211200023594        7    artefact         bad column
34  695211200015592        7    artefact         bad column
35  695211200010890        7    artefact         bad column
38  695211200018443        7    artefact         bad column

In [19]:
gmm_summary = table_gmm.groupby(["cluster", "tag"]).size()
gmm_summary

cluster  tag
0        Cepheid        1
         RSG            1
1        artefact       7
2        transient      1
         uncat          1
3        artefact       9
4        uncat          1
5        Cl*            1
         HII region     1
         artefact       2
6        uncat          2
7        artefact      13
dtype: int64

## Spectral Clustering

In [20]:
spectral = SpectralClustering(n_clusters=6, 
                              eigen_solver='arpack',
                              affinity="nearest_neighbors")

clustering_spectral = spectral.fit_predict(scale_values(anomaly_feature))

In [21]:
table_spectral = pd.DataFrame({'oid': anomaly_oid, 'cluster': clustering_spectral}).merge(expert_table[['oid', 'tag', 'tag_detailed']])
table_spectral = table_spectral.sort_values(by='cluster', kind='mergesort')
table_spectral

                oid  cluster         tag       tag_detailed
0   695211400034403        0    artefact        bright star
1   695211400124577        0    artefact        bright star
3   695211400000352        0    artefact        bright star
4   695211400102351        0    artefact        bright star
9   695211400028274        0    artefact        bright star
11  695211400133827        0    artefact                NaN
12  695211400088968        0    artefact                NaN
18  695211400117334        0    artefact        bright star
24  695211400053352        0         Cl*                NaN
32  695211400048384        0  HII region                NaN
36  695211200058391        0       uncat           red star
10  695211200075348        1   transient           red star
26  695211200046528        1     Cepheid                NaN
27  695211200018901        1         RSG                NaN
28  695211200022958        1       uncat             single
30  695211400009049        1       uncat           red star
39  695211200019653        1       uncat             single
13  695211200008024        2    artefact         bad column
14  695211200009296        2    artefact         bad column
21  695211200042829        2    artefact         bad column
22  695211200007026        2    artefact         bad column
25  695211200021087        2    artefact         bad column
33  695211200023594        2    artefact         bad column
5   695211400053697        3    artefact        bright star
31  695211400134715        3    artefact         M31 center
37  695211400134621        3    artefact         M31 center
15  695211200009492        4    artefact         bad column
16  695211200032218        4    artefact         bad column
19  695211200020898        4    artefact         bad column
2   695211200009221        5    artefact         bad column
6   695211200020939        5    artefact         bad column
7   695211200008801        5    artefact         bad column
8   695211200015230        5    artefact         bad column
17  695211200013685        5    artefact         bad column
20  695211200054816        5    artefact         bad column
23  695211200077003        5    artefact         bad column
29  695211100002984        5    artefact  plane/flying body
34  695211200015592        5    artefact         bad column
35  695211200010890        5    artefact         bad column
38  695211200018443        5    artefact         bad column

In [22]:
spectral_summary = table_spectral.groupby(["cluster", "tag"]).size()
spectral_summary

cluster  tag
0        Cl*            1
         HII region     1
         artefact       8
         uncat          1
1        Cepheid        1
         RSG            1
         transient      1
         uncat          3
2        artefact       6
3        artefact       3
4        artefact       3
5        artefact      11
dtype: int64

In [23]:
print("BIRCH", birch_summary, 
      "\n KMEANS", kmeans_summary, 
      "\n DBSCAN", dbscan_summary,
      "\n GMM", gmm_summary,
      "\n SPECTRAL", spectral_summary)

BIRCH cluster  tag
0        transient      1
         uncat          2
1        artefact      20
2        Cl*            1
         HII region     1
         artefact      11
3        Cepheid        1
         RSG            1
         uncat          2
dtype: int64
 KMEANS cluster  tag
0        transient      1
         uncat          1
1        artefact      20
2        Cl*            1
         HII region     1
         artefact      11
3        uncat          1
4        Cepheid        1
         RSG            1
         uncat          2
dtype: int64
 DBSCAN cluster  tag
0        Cl*            1
         HII region     1
         artefact      31
1        transient      1
         uncat          1
2        Cepheid        1
         RSG            1
         uncat          2
3        uncat          1
dtype: int64
 GMM cluster  tag
0        Cepheid        1
         RSG            1
1        artefact       7
2        transient      1
         uncat          1
3        artefact       9
4        uncat          1
5        Cl*            1
         HII region     1
         artefact       2
6        uncat          2
7        artefact      13
dtype: int64
 SPECTRAL cluster  tag
0        Cl*            1
         HII region     1
         artefact       8
         uncat          1
1        Cepheid        1
         RSG            1
         transient      1
         uncat          3
2        artefact       6
3        artefact       3
4        artefact       3
5        artefact      11
dtype: int64